DATABASE_URL="postgresql://USER:PASSWORD@HOST/DB?sslmode=require"
POSTGRES_URL="postgresql://USER:PASSWORD@HOST/DB?sslmode=require"
POSTGRES_URL_NON_POOLING="postgresql://USER:PASSWORD@HOST_UNPOOLED/DB?sslmode=require"
POSTGRES_USER="USER"
POSTGRES_HOST="HOST"
POSTGRES_PASSWORD="PASSWORD"
POSTGRES_DATABASE="DB"
